<form class="filter-form-object">
    <ol>
        <li *ngFor="let filter of filters.filterList; let i = index" class="filter-container">
            <div [attr.filter-index]="i" class="filter-object">
                <div class="filter-label col" *ngIf="filter.colValue">
                    {{filter.colValue}}
                </div>
                <div class="filter-label operator" *ngIf="filter.opeValue">
                    {{filter.opeValue}}
                </div>
                <div class="filter-label value" *ngIf="filter.keyValue">
                    {{filter.keyValue}}
                </div>
                <div class="filter-label remove" *ngIf="filter.keyValue" (click)="removeFilter(i)">
                    
                </div>
                <div *ngIf="!filters.complete()">
                    <input type="text" [formControl]="formControl" [matAutocomplete]="filter" (keyup)="formValidation($event)" placeholder="Add filter">
                </div>
            </div>
        </li>
    </ol>
</form>